.navegacao {
    background-color: #adb5bd;
    color: black;
}

.rodape {
    background-color: #adb5bd;
    color: #2c3034;
}

.navbar-loja-links {
    text-decoration: none;
    margin: 0 10px;
    color: white;
}

.navbar-loja-links:hover {
    text-decoration: underline;
    color: white;
}

* {
    box-shadow: inset 0px 0px 1px red;
}

.espaco-fundo {
    margin-bottom: 80px;
}